
* {
	box-sizing: border-box;
	margin: 10px;
	padding: 0;
}

body {
	font-family: arial, san-serif;
	line-height: 1.6;
	background-color: #f0f8ff;
}

.main {
	max-width: 800px;
	margin:40px auto;
	padding: 20px;
	background-color:#ffffff;
	border: 1px solid #87ceeb;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
	color: #1a73ba;
	margin-bottom: 10px;
	font-size:36px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.main p {
	margin-bottom: 20px;
	align-content: center;
	font-weight: bold;
}


.symptoms h3{
	color: #4682b4;
	margin-bottom: 10px;
}
	
.main ul {
	padding-left: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main li {
	padding-left: 20px;
	padding: 5 px;
	border-bottom: 1px solid #87ceeb;
}

.main li last-child {
	border-bottom: none;
}

.telephone ul {
	padding-left: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.telephone li {
	padding: 5 px;
}

.telephone p {
	margin-top: 10 px;
} 

.symptoms ul: first-of-type{
	padding-left: 20px;
 margin-bottom: 20px;
}

.symptoms ul li {
	padding-left: 20px;
	font-weight: bold;
}

.causes ul {
	list-style: disc;
	padding-left: 20px;
}

.telephone {
	background-color: #add8e6;
	padding: 10px;
	border: 1px solid #87ceeb;
	border-radius: 10px;
}

